In [2]:
#Integers
a = 10
type(a)

int

In [3]:
#number of bits needed to represent the integer object in-memory
a.bit_length()

4

In [4]:
a = 100000
a.bit_length()

17

In [5]:
googol = 10 ** 100
googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000L

In [6]:
googol.bit_length()

333

In [7]:
1. / 4

0.25

In [8]:
type(1. / 4)

float

In [9]:
b = 0.35
type(b)

float

In [10]:
b + 0.1

0.44999999999999996

In [11]:
c = 0.5

In [12]:
c.as_integer_ratio()

(1, 2)

In [13]:
b.as_integer_ratio()

(3152519739159347, 9007199254740992)

In [14]:
#c is represented by Â½ by b is represented by something different than
#the expected rational 7/20=0.35 due to the number of bits required to
#represent the object precisely
# Exercise: find out the binary representation of 0.73

In [15]:
e=0.73
e.as_integer_ratio()

(1643813863990231, 2251799813685248)

In [16]:
#Decimal Points: The module decimal provides an arbitrary-precision object for floating-point
#numbers and several options to address precision issues when working with such numbers
import decimal
from decimal import Decimal
decimal.getcontext()
d = Decimal(1) / Decimal (11)
d

Decimal('0.09090909090909090909090909091')

In [17]:
#One can change the precision of the representation by changing the respective
#attribute value of the Context object
#
decimal.getcontext().prec = 4 # lower precision than default
e = Decimal(1) / Decimal (11)
e

Decimal('0.09091')

In [18]:
decimal.getcontext().prec = 50 # higher precision than default
f = Decimal(1) / Decimal (11)
f

Decimal('0.090909090909090909090909090909090909090909090909091')

In [19]:
g = d + e + f
g
#Exercise: define 45/91 as a float. And measure the precision by four decimal points/forty decimal points

Decimal('0.27272818181818181818181818181909090909090909090909')

In [20]:
str(g)

'0.27272818181818181818181818181909090909090909090909'

In [21]:
t ='this is a string object'
#capitalize the first word
t.capitalize()

'This is a string object'

In [22]:
t.split()

['this', 'is', 'a', 'string', 'object']

In [23]:
t.find('string')

10

In [24]:
#If the word is not in the string object, the method returns -1:

t.find('Python')

-1

In [25]:
#Replacing characters in a string
t.replace(' ', '|')

'this|is|a|string|object'

In [26]:
# Stripping of strings
'http://www.python.org'.strip('htp:/')

'www.python.org'


#Exercise: Define the following as a string object: 
âApple is cutting prices on two iPad
models and introducing red iPhones, but the company held back on updating its higher-end
iPad Pro tabletsâ
Find the word âpriceâ, âcutting priceâ, âipadâ
Find how many times the word âiPadâ occurred in the string

In [27]:
s='Apple is cutting prices on two iPad models and introducing red iPhones, but the company held back on updating its higher-end iPad Pro tablets'

In [28]:
s.find('price')

17

In [29]:
s.find('cutting price')

9

In [30]:
s.find('iPad')

31

In [31]:
# how many times the word âiPadâ occurred in the string 
s.count('iPad')

2

In [32]:
# Consider the following string object, containing three date-time elements, three integers,
# and three strings. (you may find this in a csv data file)

#You want to convert the date time into Python format
import re
series ="""
'01/18/2014 13:00:00', 100, '1st';
'01/18/2014 13:30:00', 110, '2nd';
'01/18/2014 14:00:00', 120, '3rd'
"""

# regular expression describes the format of the date-time information provided in the string
# object
dt = re.compile("'[0-9/:\s]+'")
# More on this later
# datetime
# Find ALL date time functions
result = dt.findall(series)
result

["'01/18/2014 13:00:00'", "'01/18/2014 13:30:00'", "'01/18/2014 14:00:00'"]

In [33]:
# A tuple is an advanced data structure, defined by providing objects in parentheses
t = (1, 2.5,'data')
type(t)

tuple

In [34]:

# or dropping the parentheses
t = 1, 2.5,'data'
type(t)

tuple

In [35]:
t[2] # Note the zero based numbering in Python

'data'

In [36]:
type(t[2])

str

In [37]:
t.count('data')

1

In [38]:
t.index(1)

0

In [39]:
l = [1, 2.5, 'data']
l[2]

'data'

In [40]:
l.append([4, 3]) # append list at the end
l

[1, 2.5, 'data', [4, 3]]

In [41]:
l.extend([1.0, 1.5, 2.0]) # append elements of list
l

[1, 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [42]:
l.insert(1, 'insert') # insert object before index position
l

[1, 'insert', 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [43]:
l.remove('data') # remove first occurrence of object
l

[1, 'insert', 2.5, [4, 3], 1.0, 1.5, 2.0]

In [44]:
p = l.pop(3) # removes and returns object at index
print l, p

[1, 'insert', 2.5, 1.0, 1.5, 2.0] [4, 3]

In [45]:
l[2:5] # 3rd to 5th elements

[2.5, 1.0, 1.5]

In [46]:
x =[0,1,2,3,4,5,6,7,8,9]
x[0]

0

In [47]:
x[5]

5

In [48]:
x[10] # Error

IndexError: list index out of range

In [ ]:
x[4:]

In [ ]:
x[:4]

In [ ]:
x[1:4]

In [ ]:
x[0]

In [ ]:
x[1]

In [ ]:
x[-10:-1]

In [ ]:
x = [[1,2,3,4], [5,6,7,8]]
x[0]

In [ ]:
x[1]

In [ ]:
x[0][0]

In [ ]:
#Exercise: Find out the 7th element of x, 4th to 8th elements of x; 3rd, 5th and 7th
#element of x

In [ ]:
l

In [ ]:
# for loop over a list. In Python you can loop over arbitrary list objects, no matter what the
# content of the object is. This often avoids the introduction of a counter
for element in l[4:6]:
    print element**2

In [ ]:
# provides a really high degree of flexibility in comparison to the typical counter-based
# looping, which is also possible in python as shown below
r = range(0, 8, 1) # start, end, step width
print r
type(r)

In [ ]:
for i in range(4, 6):
    print l[i] ** 2

In [ ]:
# A standard if else argument is also possible
for i in range(1, 10):
    if i % 2 == 0: # % is for modulo
        print "%d is even" % i
    elif i % 3 == 0:
        print "%d is multiple of 3" % i
    else:
        print "%d is odd" % i

In [ ]:
#While loop over a
total = 0
while total < 100:
    total += 1
    print total

In [ ]:
#Looping in a compact fashion
m = [i ** 2 for i in range(5)]
m

In [ ]:
#Functional Programming
def f(x):
    return x ** 2
f(2)

In [ ]:
def even(x):
    return x % 2 == 0
even(3)

In [ ]:
# we can also provide a function definition directly as an argument to map, by using lambda
# or anonymous functions
map(lambda x: x ** 2, range(10))

In [ ]:
reduce(lambda x, y: x + y, range(10))

In [ ]:
#You can use anonymous functions and use a construct called âlambdaâ to perf
foo = [2, 18, 9, 22, 17, 24, 8, 12, 27]
print filter(lambda x: x % 3 == 0, foo) # finds the divisible by 3

# First filterï¼ï¼calls our lambda function for each element of the list, and returns a new list that contains only 
# those elements for which the function returned "True". In this case, we get a list of all elements that are 
# multiples of 3.

In [ ]:
print map(lambda x: x % 3 == 0, foo) # finds the divisible by 3

In [ ]:
print map(lambda x: x * 2 + 10, foo)

# In the second example, map()is used to convert our list. The given function is called for every element in
# the original list, and a new list is created which contains the return values from our lambda function. In
# this case, it computes 2 * x + 10 for every element.

In [ ]:
print reduce(lambda x, y: x + y, foo)
# Finally, reduce()is somewhat special. The "worker function" for this one must accept two arguments (we've
# called them x and y here), not just one. The function is called with the first two elements from the list,
# then with the result of that call and the third element, and so on, until all of the list elements have been
# handled. This means that our function is called n-1 times if the list contains n elements. The return value
# of the last call is the result of the reduce()construct. In the above example, it simply adds the arguments, so
# we get the sum of all elements

In [ ]:

sentence = 'It is raining cats and dogs'
words = sentence.split()
print words
lengths = map(lambda word: len(word), words)
print lengths
#Exercise: Find the length of words in the Apple sentences

In [ ]:
print s.split()
lengths = map(lambda word: len(word), s.split())
print lengths

In [ ]:
#Dictionaries: Dict: data retrieval by keys that can, for example, be string objects.
d = {'Name': 'Angela Merkel',
'Country' : 'Germany',
'Profession' : 'Chancelor',
'Age' : 60
}
print type(d)
print d['Name'], d['Age']

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
birthday = True
if birthday is True:
    d['Age'] += 1
print d['Age']

In [ ]:
for item in d.iteritems():
    print item
for value in d.itervalues():
    print type(value)

In [ ]:
#Set
s = set(['u', 'd', 'ud', 'du','d', 'du'])
print s
t = set(['d', 'dd', 'uu', 'u'])
s.union(t) # all of s and t

In [ ]:
s.intersection(t)
# both in s and t

In [ ]:

s.difference(t)
# in s but not t

In [ ]:
t.difference(s)
# in t but not s

In [ ]:
s.symmetric_difference(t)
# in either one but not both

In [ ]:
#getting a subset of a list object
from random import randint
l = [randint(0, 10) for i in range(1000)]
# 1,000 random integers between 0 and 10
len(l) # number of elements in l

In [ ]:
l[:20]

In [ ]:
set(l)

In [ ]:
#Set
sentence = 'It is raining cats and dogs'
words = sentence.split()
w1=set(words)
sentence1 = 'It is raining'
words1 = sentence1.split()
w2=set(words1)
w1.union(w2)

In [ ]:

w1.intersection(w2)
#Exercise: Look at Apple and Google 10k and find common words

In [ ]:
google = """Our businesses are rapidly evolving, intensely competitive, and subject to changing technologies, shifting user needs, and frequent introductions of new products and services. Competing successfully depends heavily on our ability to deliver innovative products and technologies to the marketplace rapidly and, for Google, provide products and services that make our search results and ads relevant and useful for our users. As our businesses evolve, the competitive pressure to innovate will encompass a wider range of products and services, including products and services that may be outside of our historical core business.
We have many competitors in different industries, including general purpose search engines and information services, vertical search engines and e-commerce websites, social networks, providers of online products and services, other forms of advertising and online advertising platforms and networks, other operating systems, and wireless mobile device companies. Our current and potential domestic and international competitors range from large and established companies to emerging start-ups. Established companies have longer operating histories and more established relationships with customers and users, and they can use their experiences and resources in ways that could affect our competitive position, including by making acquisitions, continuing to invest heavily in research and development, aggressively initiating intellectual property claims (whether or not meritorious), and continuing to compete aggressively for advertisers and websites. Emerging start-ups may be able to innovate and provide products and services faster than we can or may foresee the consumer need for products and services before us.
Our competitors are constantly developing innovations in search, online advertising, wireless mobile devices, operating systems, and many other web-based products and services. The research and development of new, technologically advanced products is also a complex and uncertain process requiring high levels of innovation and investment, as well as the accurate anticipation of technology, market trends, and consumer needs. As a result, we must continue to invest significant resources in research and development, including through acquisitions, in order to enhance our search technology and our existing products and services, and introduce new products and services that people can easily and effectively use. If we are unable to provide quality products and services, then acceptance rates for our products and services could decline. In addition, these new products and services may present new and difficult technological and legal challenges, and we may be subject to claims if users of these offerings experience service disruptions or failures or other issues. Our operating results would also suffer if our innovations are not responsive to the needs of our users, advertisers, and Google Network Members, are not appropriately timed with market opportunities, or are not effectively brought to market. As technology continues to develop, our competitors may be able to offer user experiences that are, or that are seen to be, substantially similar to or better than ours. This may force us to compete in different ways and expend significant resources in order to remain competitive. If our competitors are more successful than we are in developing compelling products or in attracting and retaining users, advertisers, and content providers, our revenues and operating results could be adversely affected."""

apple = """The following discussion of risk factors contains forward-looking statements. These risk factors may be important to understanding any statement in this Form 10-K or elsewhere. The following information should be read in conjunction with Part II, Item 7, âManagementâs Discussion and Analysis of Financial Condition and Results of Operationsâ and the consolidated financial statements and related notes in Part II, Item 8, âFinancial Statements and Supplementary Dataâ of this Form 10-K.
The business, financial condition and operating results of the Company can be affected by a number of factors, whether currently known or unknown, including but not limited to those described below. Any one or more of such factors could directly or indirectly cause the Companyâs actual results of operations and financial condition to vary materially from past or anticipated future results of operations and financial condition. Any of these factors, in whole or in part, could materially and adversely affect the Companyâs business, financial condition, results of operations and stock price.
Because of the following factors, as well as other factors affecting the Companyâs financial condition and operating results, past financial performance should not be considered to be a reliable indicator of future performance, and investors should not use historical trends to anticipate results or trends in future periods.
Global and regional economic conditions could materially adversely affect the Company.
The Companyâs operations and performance depend significantly on global and regional economic conditions. Uncertainty about global and regional economic conditions poses a risk as consumers and businesses may postpone spending in response to tighter credit, higher unemployment, financial market volatility, government austerity programs, negative financial news, declines in income or asset values and/or other factors. These worldwide and regional economic conditions could have a material adverse effect on demand for the Companyâs products and services. Demand also could differ materially from the Companyâs expectations as a result of currency fluctuations because the Company generally raises prices on goods and services sold outside the U.S. to correspond with the effect of a strengthening of the U.S. dollar. Other factors that could influence worldwide or regional demand include increases in fuel and other energy costs, conditions in the real estate and mortgage markets, unemployment, labor and healthcare costs, access to credit, consumer confidence and other macroeconomic factors affecting consumer spending behavior. These and other economic factors could materially adversely affect demand for the Companyâs products and services.
In the event of financial turmoil affecting the banking system and financial markets, additional consolidation of the financial services industry, or significant financial service institution failures, there could be a new or incremental tightening in the credit markets, low liquidity and extreme volatility in fixed income, credit, currency and equity markets. This could have a number of effects on the Companyâs business, including the insolvency or financial instability of outsourcing partners or suppliers or their inability to obtain credit to finance development and/or manufacture products resulting in product delays; inability of customers, including channel partners, to obtain credit to finance purchases of the Companyâs products; failure of derivative counterparties and other financial institutions; and restrictions on the Companyâs ability to issue new debt. Other income and expense also could vary materially from expectations depending on gains or losses realized on the sale or exchange of financial instruments; impairment charges resulting from revaluations of debt and equity securities and other investments; interest rates; cash balances; volatility in foreign exchange rates; and changes in fair value of derivative instruments. Increased volatility in the financial markets and overall economic uncertainty would increase the risk of the actual amounts realized in the future on the Companyâs financial instruments differing significantly from the fair values currently assigned to them.
 """
g=google.split()
g=set(g)
a=apple.split()
a = set(a)
g.intersection(a)

In [ ]:
#NumPy Arrays
# One of the most frequent use in finance for efficiency to handle n-dimensional data
import numpy as np
a = np.array([0, 0.5, 1.0, 1.5, 2.0])
print type(a)
a[:2] # indexing as with list objects in 1 dimension

In [ ]:
#multitude of built-in methods
a.sum() # sum of all elements

In [ ]:

a.std() # standard deviation

In [ ]:
a.cumsum() # running cumulative sum

In [ ]:
# For vectorized operations
a * 2

In [ ]:

a ** 2

In [ ]:

np.sqrt(a)

In [ ]:

# For multiple dimensions
b = np.array([a, a * 2])
b

In [ ]:

print b[0] # first row
print b[0, 2] # third element of first row
b.sum()

In [ ]:
#the numpy.ndarray class knows axes explicitly
b.sum(axis=0)
# sum along axis 0, i.e. column-wise sum

In [ ]:


b.sum(axis=1)
# sum along axis 1, i.e. row-wise sum

In [ ]:

# one would maybe like to have the numpy.ndarray objects instantiated first to populate them
# later with results generated during the execution of code
c = np.zeros((2, 3, 4), dtype='i', order='C') # also: np.ones()
c

In [ ]:
# Exercise
# generate a matrix/array of shape 5,000 Ã 5,000 elements, populated with (pseudo)random,
# standard normally distributed numbers. Then calculate the sum of all elements.
# Do the standard Python List approach
# Do this by numPy approach
#List approach
import random
I = 5000
%time mat = [[random.gauss(0, 1) for j in range(I)] for i in range(I)]

In [ ]:
# a nested list comprehension
%time reduce(lambda x, y: x + y, \
[reduce(lambda x, y: x + y, row) \
for row in mat])

In [ ]:
# Exercise NumPy approach
%time mat = np.random.standard_normal((I, I))

In [ ]:
%time mat.sum()
# NumPy is a faster way to work with data than pure Python approach

In [ ]:
# Structured Array:NumPy provides structured arrays that allow us to have different NumPy
# data types per column
# initialization of a structured object, dtype defines the data type (string,integer,float etc.)
dt = np.dtype([('Name', 'S10'), ('Age', 'i4'),
('Height', 'f'), ('Children/Pets', 'i4', 2)])
# S10 is a datatype of 10 character string, i4 is a four digit integer

In [ ]:
# populate the array
s = np.array([('Smith', 45, 1.83, (0, 1)),
('Jones', 53, 1.72, (2, 2))], dtype=dt)
â¢s
â¢s['Name'] # Finds the name of individuals
â¢s['Height'].mean() # computes the mean of the height
â¢s[1]['Age'] # retrieves the value of the second entry (Joneâs age)
â¢#Structure array bring SQL table-like data structures to Python, with all the benefits of regular
numpy.ndarray objects (syntax, methods, performance).